/*
    Variables 
*/
/* Brand */
/* Text */
/* Surface/Background */
.primary-brand {
  color: #C6A53C;
}

.secondary-brand {
  color: #9B6E3D;
}

.tertiary-brand {
  color: #121212;
}

/* Border Highlight */
.border-highlight {
  background: linear-gradient(to bottom, #FFFFFF 70%, #C6A53C 30%);
}

/* Variables */
/* Body/Text */
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  background: #FFFFFF;
  color: #121212;
}

/* Headers/Main & Body */
h1, h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  color: #121212;
}

/* Headers/Small Text */
h3, .small-header-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.08rem;
  color: #121212;
}

/* Text Link */
.text-link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 32px;
  text-decoration-line: underline;
  color: #121212;
}

/* Large Text Link */
.text-link-large {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 40px;
  text-decoration-line: underline;
  color: #121212;
}

/* Quotation */
.quotation {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  color: #121212;
}

/* Button Text */
.button-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 152.5%;
}

/* Outlined Button */
.outlined-button {
  background-color: transparent;
  color: #C6A53C;
  border: 1px solid #C6A53C;
}
.outlined-button:hover, .outlined-button:focus {
  background-color: #C6A53C;
  color: #FFFFFF;
}

/* Input Label */
.input-label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.05rem;
  line-height: 24px;
  letter-spacing: 0.03rem;
  color: #121212;
}

/*
    Variables 
*/
/* Brand */
/* Text */
/* Surface/Background */
.primary-brand {
  color: #C6A53C;
}

.secondary-brand {
  color: #9B6E3D;
}

.tertiary-brand {
  color: #121212;
}

/* Border Highlight */
.border-highlight {
  background: linear-gradient(to bottom, #FFFFFF 70%, #C6A53C 30%);
}

/* Navigation Bar */
.nav-bar {
  padding: 1.5rem 5.8vw;
  background: transparent;
  transition: all 0.3s ease-in;
  /* Search box */
}
.nav-bar input[type=search] {
  background-color: transparent;
  background-image: url(../icons/search_icon.png);
  background-position: right center;
  background-repeat: no-repeat;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  width: 60%;
  transition: all 0.25s ease-in-out;
}
.nav-bar input[type=search]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFFFF;
  opacity: 1;
  /* Firefox */
}
.nav-bar input[type=search]:focus {
  background-color: #FFFFFF;
  width: 100%;
}
.nav-bar input[type=search]:focus::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #121212;
  opacity: 1;
  /* Firefox */
}

/* MENU */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 1032;
  /* Greater than .body-overlay and .fixed-top classes */
  padding: 5.9vh 5.8vw 5.18vh;
  height: 78.5vh;
}
.menu .menu-items {
  /*padding: 4rem 0 2.5rem;*/
  padding: 11.8vh 0 11vh;
}
.menu .menu-items a {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  text-align: right;
  color: #121212;
  text-decoration: none;
  margin-bottom: 2.96vh;
  display: inline-block;
}
.menu .menu-items a:last-of-type {
  margin-bottom: 0;
}
.menu .menu-items a:hover, .menu .menu-items a:focus {
  color: #C6A53C;
}
.menu .social-media-links a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.08rem;
  color: #425563;
  margin: 0 0.5rem;
  text-decoration: none;
}
.menu .social-media-links a:hover, .menu .social-media-links a:focus {
  color: #C6A53C;
}

.body-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  /* initially hidden */
  z-index: 1031;
  /* one value greater than .fixed-top class */
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.4s ease-in-out;
  min-width: 100%;
  min-height: 100%;
}

/* Header */
.header-section {
  min-height: 100vh;
  background-image: url(../images/header_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Services summary */
.services-summary-section {
  padding: 10rem 5.5%;
}

/* Buy agreement section */
.buy-agreement-section {
  padding: 16rem 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 38.08%, rgba(255, 255, 255, 0) 101.55%), url(../images/signing_an_agreement.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Latest News section */
.latest-news-section {
  padding: 11rem 5.8vw;
}

/* News Component */
.news-component {
  background-color: #F7F7F7;
  border-radius: 10px;
  padding: 2.5rem 1.5rem;
}
.news-component .smaller-title {
  color: #9B6E3D;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
.news-component .timestamp {
  color: #6D6E71;
}

/* About Us section */
.about-us-section {
  padding: 16rem 5.8vw;
  background: linear-gradient(-269.52deg, #fffffff7 6.01%, rgba(255, 255, 255, 0) 60.09%), url(../images/legal_advice.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Legal Encyclopedia section */
.legal-encyclopedia-section {
  padding: 11rem 5.8vw;
}
.legal-encyclopedia-section .timestamp {
  color: #9B6E3D;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.legal-encyclopedia-section .blog-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  color: #121212;
  margin: 4rem 0 0;
}

/* Footer */
footer {
  background-color: #121212;
  color: #FFFFFF;
  padding: 4.5rem 5.8vw 6rem;
}
footer .social-media {
  margin-top: 7rem;
}
footer hr {
  border-top: 1px solid #cdcdcd;
  margin: 4.5rem 0 1.9375rem;
}
footer .site-links a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0.5rem 0;
}
footer .site-links a:hover, footer .site-links a:focus {
  color: #C6A53C;
}
footer .terms-and-conditions {
  margin-top: 7rem;
}
footer .terms-and-conditions a {
  color: #FFFFFF;
  text-decoration: underline;
}
footer .terms-and-conditions a:hover, footer .terms-and-conditions a:focus {
  color: #C6A53C;
}

/*# sourceMappingURL=style.css.map */
