@import "color/colorStyles";

@import "typography/typography";

/* Navigation Bar */
.nav-bar {
    padding: 1.5rem 5.8vw;
    background: transparent;
    transition: all 0.3s ease-in;

    /* Search box */
    input[type=search] {
        background-color: transparent;
        background-image: url(../icons/search_icon.png);
        background-position: right center;
        background-repeat: no-repeat;
        padding: 1rem 1.5rem;
        border: none;
        outline: none;
        width: 60%;
        transition: all .25s ease-in-out;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $ui-01;
                opacity: 1; /* Firefox */
            }

            &:focus {
                background-color: $ui-01;
                width: 100%; 

                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $text-01;
                        opacity: 1; /* Firefox */
                    }
            }
    }
}

/* MENU */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 1032; /* Greater than .body-overlay and .fixed-top classes */
    padding: 5.9vh 5.8vw 5.18vh;
    height: 78.5vh;

    .menu-items {
        /*padding: 4rem 0 2.5rem;*/
        padding: 11.8vh 0 11vh;

        a {
            font-family: $main-header-font;
            font-style: normal;
            font-weight: normal;
            font-size: 1.7rem;
            text-align: right;
            color: $text-01;
            text-decoration: none;
            margin-bottom: 2.96vh;
            display: inline-block;

                &:last-of-type {
                    margin-bottom: 0;
                }
                &:hover, &:focus {
                    color: $brand-01;
                }
        }
    }
    .social-media-links {
        a {
            font-family: $body-font;
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 20px;
            letter-spacing: 0.08rem;
            color: $text-02;
            margin: 0 .5rem;
            text-decoration: none;

                &:hover, &:focus {
                    color: $brand-01;
                }
        }
    }
}

.body-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* initially hidden */
    z-index: 1031; /* one value greater than .fixed-top class */
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.4s ease-in-out;
    min-width: 100%;
    min-height: 100%;
}

/* Header */
.header-section {
    min-height: 100vh;
    background-image: url(../images/header_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Services summary */
.services-summary-section {
    padding: 10rem 5.5%;
}

/* Buy agreement section */
.buy-agreement-section {
    padding: 16rem 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 38.08%, rgba(255, 255, 255, 0) 101.55%),
     url(../images/signing_an_agreement.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Latest News section */
.latest-news-section {
    padding: 11rem 5.8vw;
}

/* News Component */
.news-component {
    background-color: $ui-02;
    border-radius: 10px;
    padding: 2.5rem 1.5rem;

    .smaller-title {
        color: $brand-02;
        font-family: $body-font;
        font-weight: 600;
        font-size: 1.1rem;
    }

    .timestamp {
        color: $text-03;
    }
}

/* About Us section */ 
.about-us-section {
    padding: 16rem 5.8vw;
    background: linear-gradient(-269.52deg, #fffffff7 6.01%, rgba(255, 255, 255, 0) 60.09%),
     url(../images/legal_advice.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Legal Encyclopedia section */
.legal-encyclopedia-section {
    padding: 11rem 5.8vw;

    .timestamp {
        color: $brand-02;
        font-family: $body-font;
        font-weight: 500;
        font-size: 1rem;
    }
    .blog-title {
        font-family: $main-header-font;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        color: $text-01;
        margin: 4rem 0 0;
    }
}

/* Footer */
footer {
    background-color: $text-01;
    color: $ui-01;
    padding: 4.5rem 5.8vw 6rem;

    .social-media {
        margin-top: 7rem;
    }

    hr {
        border-top: 1px solid #cdcdcd;
        margin: 4.5rem 0 1.9375rem;
    }
    .site-links {
        a {
            display: block;
            color: $ui-01;
            text-decoration: none;
            margin: .5rem 0;
                &:hover, &:focus {
                    color: $brand-01;
                }
        }
    }
    .terms-and-conditions {
        margin-top: 7rem;

        a {
            color: $ui-01;
            text-decoration: underline;

                &:hover, &:focus {
                    color: $brand-01;
                }
        }
    }
}